/* CXUQE-295 transform banner to block */
.floating-label {
  background: none !important;
  color: #ff0000 !important;
  text-transform: none !important;
  transform: none !important;
  text-align: center !important;
  position: relative !important;
  padding: 0.7rem 0rem !important;
  border: 1px solid #ff0000;
  margin-bottom: 0.7rem;
  top: auto !important;
  right: auto !important;
}
.ticket-count-wrapper .status-text {
  font-size: .825rem !important;
  text-transform: none !important;
}
