/* CXUQE-295 transform banner to block */
.floating-label {
  background: none !important;
  color: #ff0000 !important;
  text-transform: none !important;
  transform: none !important;
  text-align: left !important;
  position: relative !important;
  padding: 1rem 0rem !important;
  margin-bottom: 1rem;
  top: auto !important;
  right: auto !important;
}
.ticket-count-wrapper .status-text {
  font-size: .825rem !important;
  text-transform: none !important;
}
